@model Vocal.WebApi.Models.PasswordReset

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPassword</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PasswordReset</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Token)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="~/Scripts/hmac-sha256.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            var pwd = $('#Password').val();
            if (pwd.length >= 8) {
                pwd = CryptoJS.HmacSHA256(pwd, pwd).toString();
                $('#Password').val(pwd);
            }
            //event.preventDefault();
            //var pwd = $('#Password').val();
            //if (pwd.length >= 8) {
            //    pwd = CryptoJS.HmacSHA256(pwd, pwd).toString();
            //    var url = $(this).attr('action');
            //    $.post(url, { Password: pwd }, function (data) {

            //    })
            //}
        })
    })

</script>